/* Buy Popup Styles */
/*-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
.fly-buy-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: #262626;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.fly-buy-bar:before,
.fly-buy-bar:after {
  content: '';
  display: table;
}
.fly-buy-bar:after {
  clear: both;
}
.fly-buy-bar.active {
  height: 54px;
}
.fly-buy-bar a {
	opacity: 1;
}
.fly-buy-bar .fly-buy-bar-logo {
  float: left;
  margin: 16px 0 10px 20px;
}
.fly-buy-bar .fly-buy-bar-logo img {
  height: 18px;
}
@media only screen and (max-width: 479px) {
  .fly-buy-bar .fly-buy-bar-logo {
    margin-top: 20px;
  }
  .fly-buy-bar .fly-buy-bar-logo img {
    height: 12px;
  }
}
.fly-buy-bar .fly-buy-bar-toggle {
  font-family: 'Roboto', sans-serif;
  float: right;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  padding: 0 20px 0 40px;
  margin-left: 20px;
  position: relative;
  color: #fff;
  opacity: .5;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media only screen and (max-width: 767px) {
  .fly-buy-bar .fly-buy-bar-toggle {
    padding-right: 14px;
  }
  .fly-buy-bar .fly-buy-bar-toggle span {
    display: none;
  }
}
.fly-buy-bar .fly-buy-bar-toggle:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  bottom: -10px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}
.fly-buy-bar .fly-buy-bar-toggle i {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -6px;
  width: 12px;
  height: 12px;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fly-buy-bar .fly-buy-bar-toggle i:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5px;
  bottom: 0;
  width: 2px;
  background-color: #fff;
}
.fly-buy-bar .fly-buy-bar-toggle i:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #fff;
}
.fly-buy-bar .fly-buy-bar-toggle:hover,
.fly-buy-bar .fly-buy-bar-toggle:active {
  opacity: 1;
}
.fly-buy-bar .fly-buy-bar-toggle:hover i,
.fly-buy-bar .fly-buy-bar-toggle:active i {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.fly-buy-bar .fly-buy-bar-button {
  font-family: 'Roboto', sans-serif;
  float: right;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #82b440;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 80px;
  margin-top: 10px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media only screen and (max-width: 479px) {
  .fly-buy-bar .fly-buy-bar-button {
    padding: 0 10px;
  }
}
.fly-buy-bar .fly-buy-bar-button span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
  background-color: rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 479px) {
  .fly-buy-bar .fly-buy-bar-button span {
    display: none;
  }
}
.fly-buy-bar .fly-buy-bar-button:hover,
.fly-buy-bar .fly-buy-bar-button:active {
  background-color: #678e33;
}
.fly-buy-bar .fly-buy-bar-button:active {
  background-color: #4c6925;
}
.fly-buy-bar .fly-buy-bar-hint {
  float: right;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin-left: 30px;
}
@media only screen and (max-width: 767px) {
  .fly-buy-bar .fly-buy-bar-hint {
    display: none;
  }
}
.fly-buy-bar .fly-buy-bar-hint a {
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  color: #82b440;
  padding-bottom: 2px;
  display: inline-block;
  position: relative;
}
.fly-buy-bar .fly-buy-bar-hint a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #82b440;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fly-buy-bar .fly-buy-bar-hint a:hover:before,
.fly-buy-bar .fly-buy-bar-hint a:active:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* Theme Integration Dependencies */
/*-----------------------------------*/
body.has-fly-buy-bar {
  padding-top: 0px;
}
body.has-fly-buy-bar-closed {
  padding-top: 0;
  -webkit-transition: padding-top 0.4s linear;
  -moz-transition: padding-top 0.4s linear;
  -o-transition: padding-top 0.4s linear;
  -ms-transition: padding-top 0.4s linear;
  transition: padding-top 0.4s linear;
}
.has-fly-buy-bar:not(.has-fly-buy-bar-closed) .sticky-menu,
.has-fly-buy-bar:not(.has-fly-buy-bar-closed) .navigation.sticky,
.has-fly-buy-bar:not(.has-fly-buy-bar-closed) .navigation-bar.sticky {
  -webkit-transform: translateY(54px);
  -moz-transform: translateY(54px);
  -o-transform: translateY(54px);
  -ms-transform: translateY(54px);
  transform: translateY(54px);
}
