/* Buy Popup Styles */
/*-----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
.fly-buy-popup {
  position: fixed;
  right: 20px;
  bottom: 0;
  z-index: 999;
  width: 280px;
  background-color: #262626;
  border-radius: 4px 4px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ccc;
  line-height: normal;
  text-transform: none;
  padding: 10px 12px;
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 767px) {
  .fly-buy-popup {
    display: none;
  }
}
.fly-buy-popup.active .fly-buy-popup-toggleable {
  max-height: 500px;
}
.fly-buy-popup.active .fly-buy-popup-toggleable.small {
  max-height: 50px;
}
.fly-buy-popup.active .fly-buy-popup-toggle:before {
  top: 4px;
  -webkit-transform: rotateZ(225deg);
  -moz-transform: rotateZ(225deg);
  -o-transform: rotateZ(225deg);
  -ms-transform: rotateZ(225deg);
  transform: rotateZ(225deg);
}
.fly-buy-popup .fly-buy-popup-toggleable {
  padding: 0 4px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.fly-buy-popup .fly-buy-popup-toggleable:before,
.fly-buy-popup .fly-buy-popup-toggleable:after {
  content: '';
  display: table;
}
.fly-buy-popup .fly-buy-popup-toggleable:after {
  clear: both;
}
.fly-buy-popup .fly-buy-popup-toggle {
  display: block;
  width: 50px;
  height: 20px;
  color: #fff;
  position: absolute;
  top: -20px;
  right: 20px;
  border-radius: 4px 4px 0 0;
  background-color: #262626;
  opacity: 1;
}
.fly-buy-popup .fly-buy-popup-toggle:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 19px;
  width: 12px;
  height: 12px;
  border: solid #fff;
  border-width: 2px 0 0 2px;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
.fly-buy-popup .fly-buy-popup-title {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: .8em;
  margin-bottom: 1.4em;
}
.fly-buy-popup .fly-buy-popup-list {
  padding: 0;
  margin: 0 0 20px;
  list-style: none;
}
.fly-buy-popup .fly-buy-popup-list li {
  padding-left: 28px;
  margin-bottom: 1em;
  position: relative;
  line-height: 1.2;
}
.fly-buy-popup .fly-buy-popup-list li:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 8px;
  border: solid #82b440;
  border-width: 0 0 4px 4px;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.fly-buy-popup .fly-buy-popup-button {
  opacity: 1;
  display: block;
  height: 40px;
  line-height: 40px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #82b440;
  border-radius: 4px;
  padding: 0 60px 0 10px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fly-buy-popup .fly-buy-popup-button span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  font-weight: 500;
  border-radius: 0 4px 4px 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.fly-buy-popup .fly-buy-popup-button:hover,
.fly-buy-popup .fly-buy-popup-button:active {
  background-color: #678e33;
}
.fly-buy-popup .fly-buy-popup-button:active {
  background-color: #4c6925;
}
.fly-buy-popup .fly-buy-popup-hint {
  padding: 20px 0 10px;
}
.fly-buy-popup .fly-buy-popup-hint a {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #82b440;
  padding-bottom: 2px;
  display: inline-block;
  position: relative;
  opacity: 1;
}
.fly-buy-popup .fly-buy-popup-hint a:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #82b440;
  -webkit-transform: scale(0, 1);
  -moz-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.fly-buy-popup .fly-buy-popup-hint a:hover:before,
.fly-buy-popup .fly-buy-popup-hint a:active:before {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
